@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

body{
    background-color: aqua;
}

h1{
    font-family: Montserrat;
    text-align: center;
}